@page "/Curriculum"
@model Portafolio.Pages.CurrirulumModel


<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Currículum</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experiencia</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    @* <a class="btn btn-primary px-4 py-3" href="#!">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a> *@
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-3">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2023 - Actual</div>
                                    <div class="small fw-bolder">Analista programador</div>
                                    <div class="small text-muted">Sistemas Aries</div>
                                    <div class="small text-muted">Medellín</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Diseñar, implementar y mantener las aplicaciones de la organización.</li>
                                        <li class="list-group-item">Realizar seguimiento de su progreso e informar al responsable del proyecto, los problemas que se puedan presentar.</li>
                                        <li class="list-group-item">Documentar el código de forma clara y concisa.</li>
                                        <li class="list-group-item">Construir diseños de interfaz de usuario que cumpla con la imagen corporativa de la organización y a la vez ofrezca simplicidad de uso al usuario.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-3">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2020 - 2023</div>
                                    <div class="small fw-bolder">Desarrollador de software</div>
                                    <div class="small text-muted">Mision Empresarial S.A Servicios Temporales</div>
                                    <div class="small text-muted">Medellín</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Diseñar, implementar y mantener las aplicaciones de la organización.</li>
                                        <li class="list-group-item">Realizar seguimiento de su progreso e informar al responsable del proyecto, los problemas que se puedan presentar.</li>
                                        <li class="list-group-item">Documentar el código de forma clara y concisa.</li>
                                        <li class="list-group-item">Construir diseños de interfaz de usuario que cumpla con la imagen corporativa de la organización y a la vez ofrezca simplicidad de uso al usuario.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-3">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2014 - 2019</div>
                                    <div class="small fw-bolder">Auxiliar sistemas</div>
                                    <div class="small text-muted">HMV Ingenieros</div>
                                    <div class="small text-muted">Medellín</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Diseñar, implementar y mantener las aplicaciones de la organización.</li>
                                        <li class="list-group-item">Realizar seguimiento de su progreso e informar al responsable del proyecto, los problemas que se puedan presentar.</li>
                                        <li class="list-group-item">Documentar el código de forma clara y concisa.</li>
                                        <li class="list-group-item">Construir diseños de interfaz de usuario que cumpla con la imagen corporativa de la organización y a la vez ofrezca simplicidad de uso al usuario.</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Educaciòn</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2015 - 2017</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Politécnico Grancolombiano</div>
                                        <div class="small text-muted">Medellìn</div>
                                    </div>
                                    <div class="fst-italic">

                                        <div class="small text-muted">Ingenieria en sistemas</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    Mi trabajo implica diseñar, implementar y mantener sistemas informáticos seguros y confiables que permitan a las empresas operar de manera efectiva en el entorno digital actual. Aplico mis conocimientos en áreas como la programación, las redes, las bases de datos y la seguridad informática para desarrollar soluciones personalizadas que aborden las necesidades específicas de cada organización.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2012 - 2013</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Sena</div>
                                        <div class="small text-muted">Medellín</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Tecnólogo en análisis y desarrollo de sistemas de información </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8"><div>Ejecuta el proceso integral (análisis, diseño, implementación, pruebas y ajustes) de generación de sistemas de información, para la sitematización o automatización de procesos.</div></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="fa-solid fa-screwdriver-wrench"></i></div> 
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Competencias profesionales</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Desarrollo de Software</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bases de Datos</div></div>
                                
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Control de Versiones</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Metodologías de Desarrollo</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Herramientas y Entornos de Desarrollo</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Pruebas y Calidad del Software</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Resolución de problemas</div></div>
                                
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="fa-solid fa-code"></i></div> 
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Lenguajes</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">ASP.Net</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Blazor</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Entity Framework</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL Server</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Git</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">API Rest</div></div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                                <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Bootstrap</div></div>
                                <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">MVC</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
